<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Harbour.RedisSessionStateStore.SampleWeb\packages.config" />
  <repository path="..\src\Harbour.RedisSessionStateStore\packages.config" />
  <repository path="..\tests\Harbour.RedisSessionStateStore.Tests\packages.config" />
</repositories>